In [1]:
#tuple
tup = 4,5,6
tup

(4, 5, 6)

In [2]:
nested_tup = (4,5,6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

In [7]:
tup[0] = 't'
tup
#immutable

TypeError: 'tuple' object does not support item assignment

In [8]:
tup = tuple(['foo', [1,2], True])

In [9]:
tup[1].append(3)

In [10]:
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4,5,6)
a,b,c = tup
b

5

In [14]:
tup = 4, 5, (6,7)
a,b, (c,d) = tup
c

6

In [15]:
a, b =1,2

In [16]:
b,a = a,b

In [17]:
b

1

In [18]:
a

2

In [19]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c, in seq :
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1,2,3,4,5
a,b, *rest = values
a,b

(1, 2)

In [21]:
rest

[3, 4, 5]

In [22]:
#method of tuple
a = (1,2,2,2,3,4,2)
a.count(2)

4

In [24]:
#list
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [26]:
b_list[1] = 'peekaboo'
b_list
#mutable

['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)
gen

range(0, 10)

In [28]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [30]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [31]:
b_list.pop(2)

'peekaboo'

In [32]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [33]:
b_list.remove('baz')
b_list

['foo', 'red', 'dwarf']

In [34]:
[4,None, 'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)]) #more useful than adding two lists
x

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [37]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [38]:
import bisect

In [43]:
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [44]:
bisect.bisect(c,5)

6

In [45]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [50]:
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [52]:
seq[3:4] = [6,3]

In [53]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [55]:
seq[:5]

[7, 2, 3, 6, 3]

In [57]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [58]:
seq[-4:]

[5, 6, 0, 1]

In [59]:
seq[-6:-2]

[6, 3, 5, 6]

In [60]:
seq[::2]

[7, 3, 3, 6, 1]

In [61]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [62]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list) :
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [63]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [64]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [65]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [66]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) #shortest

[('foo', 'one', False), ('bar', 'two', True)]

In [67]:
for i, (a,b) in enumerate(zip(seq1, seq2)) :
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [68]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)

In [69]:
first_names

('Nolan', 'Roger', 'Schilling')

In [70]:
last_names

('Ryan', 'Clemens', 'Curt')

In [71]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [73]:
#dictionary
d1 = {'a': 'some value', 'b': [1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [74]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [75]:
d1['b']

[1, 2, 3, 4]

In [80]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [81]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [82]:
ret = d1.pop('dummy')
ret

'another value'

In [83]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [84]:
list(d1.keys())

['a', 'b', 7]

In [85]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [87]:
d1.update({'b':'foo', 'c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [88]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [90]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words :
    letter = word[0]
    if letter not in by_letter :
        by_letter[letter] = [word]
    else :
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [93]:
by_letter2 = {}

for word in words :
    letter = word[0]
    by_letter2.setdefault(letter,[]).append(word)
by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [94]:
from collections import defaultdict
by_letter3 = defaultdict(list)
for word in words :
    by_letter3[word[0]].append(word)
by_letter3

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [95]:
#Only unchangable objects can be keys
#Checj it by hash ft
hash('string')

-4808175242020472941

In [96]:
#set
set([2,2,2,1,3,3])

{1, 2, 3}

In [1]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
a|b

{1, 2, 3, 4, 5, 6, 7}

In [3]:
a.intersection(b)

{3, 4, 5}

In [4]:
a&b

{3, 4, 5}

In [5]:
#list notation

strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) >2 ]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [6]:
unique_lengths = {len(x) for x in strings }
unique_lengths

{1, 2, 3, 4, 6}

In [7]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [8]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [9]:
some_tuples = [(1,2,3), (4,5,6), (7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]