In [1]:
def my_function(x,y,z=1.5) :
    if z > 1 :
        return z*(x+y)
    else :
        return z/(x+y)

In [2]:
def func() :
    a = []
    for i in range(5) :
        a.append(i)

In [3]:
a = None

def bind_a_variable() :
    global a
    a= []
bind_a_variable()
print(a)

[]

In [6]:
def f() :
    a = 5
    b = 6
    c = 7
    return a,b,c
a,b,c, = f()

In [9]:
states = ['Alabama', 'Georgia!', 'Georgia', 'georgia', 'Fl0rida', 'south carolina##', 'West virginia?']

import re

def clean_string(strings) :
    result = []
    for value in strings :
        value = value.strip()
        value = re.sub('[!#?]', ' ', value)
        value = value.title()
        result.append(value)
    return result

In [10]:
clean_string(states)

['Alabama',
 'Georgia ',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'South Carolina  ',
 'West Virginia ']

In [11]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops) :
    result = []
    for value in strings :
        for function in ops :
            value = function(value)
        result.append(value)
    return result

In [12]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'South Carolina',
 'West Virginia']

In [13]:
for x in map(remove_punctuation, states) :
    print(x)

Alabama
Georgia
Georgia
georgia
Fl0rida
south carolina
West virginia

In [14]:
def short_function(x) :
    return x*2

equiv_anon = lambda x:x*2

In [15]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints, lambda x: x*2)

[8, 0, 2, 10, 12]

In [16]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(list(x)))
strings

['foo', 'bar', 'card', 'aaaa', 'abab']

In [17]:
def add_numbers(x,y) :
    x+y

In [18]:
add_five = lambda y: add_numbers(5,y)

In [19]:
some_dict = {'a':1, 'b':2, 'c':3}

for key in some_dict :
    print(key)

a
b
c

In [20]:
dict_iterator = iter(some_dict)

In [21]:
dict_iterator

In [22]:
list(dict_iterator)

['a', 'b', 'c']

In [30]:
def squares(n=10) :
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1,n+1) :
        yield i**2

In [31]:
gen = squares()
gen

In [32]:
for x in gen :
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [33]:
gen = (x**2 for x in range(100))
gen

In [36]:
def _make_gen() :
    for x in range(100) :
        yield x**2
gen = _make_gen()
gen

In [37]:
sum(x**2 for x in range(100))

328350

In [38]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [39]:
import itertools

first_letter = lambda x:x[0]

In [40]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names,first_letter) :
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [41]:
float('1.2345')

1.2345

In [42]:
def attempt_float(x) :
    try :
        return float(x)
    except :
        return x

In [43]:
attempt_float('1.2345')

1.2345

In [44]:
attempt_float('something')

'something'

In [45]:
def attempt_float(x) :
    try :
        return float(x)
    except ValueError :
        return x

In [46]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'